* {margin: 0;padding: 0;box-sizing: border-box;}
html {height: 100%;}
body {height: 100%;margin: 0;background-repeat: no-repeat;background-attachment: fixed;}
.header{height: 10vh;text-align: center;background: black; color: white;}
.section{width: 70%;margin: 0 auto;max-width: 500px;margin-top: 12vh;}
.footer{position: fixed;height: 50px;bottom: 0px;left: 0px;right: 0px;margin-bottom: 0px;text-align: center;}
.loginHeading{text-align: center;}
.loginForm,.registerForm,.forgotPassForm{border: 1px solid black;padding: 10%;border-radius: 10px;}
.signInBtn{width: 100%;}
.loginLastSection{display: flex;flex-direction: row;justify-content: space-between;}


@media only screen and (max-width:700px){
    .section{width: 90%;margin-top: 6vh;}
    .footer{height: 23px;}
}
@media only screen and(max-height:420px){
    .header{height: 50px;}
}