
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .header {
            height: 10%;
            text-align: center;
            background: #55BCC9;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .header-left{
            margin-left: 2%;
            margin-top: 2%;
            cursor: pointer;
        }

        .header-right{
            margin-right: 2%;
            margin-top: 3%;
            cursor: pointer;
        }

        .section {
            width: 70%;
            margin: 0 auto;
            max-width: 500px;
            margin-top: 12vh;
        }

        .footer {
            position: fixed;
            height: 50px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-bottom: 0px;
            text-align: center;
        }

        .loginHeading {
            text-align: center;
        }

        .loginForm,
        .registerForm,
        .forgotPassForm {
            border: 1px solid black;
            padding: 10%;
            border-radius: 10px;
        }

        .signInBtn {
            width: 100%;
        }

        .loginLastSection {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .lostSection{text-align: center;}

        .disabledBtn{
            width: 100%;
            background:#ccc;
           border-color: #ccc;
            text-shadow:none;
        }
        .disabledBtn:hover{
            width: 100%;
            background:#ccc;
           border-color: #ccc;
            text-shadow:none;
        }

            .generateURLSection{
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 5%;
            }
            .generatedURLSection{
                margin-left: 10%;
                margin-right: 10%;
            }
            .shortedURLHeader{
                text-align: center;
                background: cadetblue;
                color: white;
            }

            table { width:250px;table-layout:fixed; }
            table tr { height:1em;  }
            td { overflow:hidden;word-break: break-all;  } 

        @media only screen and (max-width:700px) {
            .section {
                width: 90%;
                margin-top: 6vh;
            }

            .header-right {
                margin-right: 2%;
                margin-top: 5%;
                cursor: pointer;
            }
            .header-left {
                margin-left: 2%;
                margin-top: 3%;
                cursor: pointer;
            }

            .footer {
                height: 23px;
            }
            .generateURLSection{
                margin-left: 1%;
                margin-right: 1%;
                margin-top: 2%;
            }
            .generatedURLSection{
                margin-left: 1%;
                margin-right: 1%;
            }
        }

        @media only screen and(max-height:420px) {
            .header {
                height: 50px;
            }
        }
